<div
  class="flex flex-col items-center justify-center min-h-screen bg-cover bg-center"
  style="
    background-image: url('https://images.unsplash.com/photo-1528642474498-1af0c17fd8c3?q=80&w=1738&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  "
>
  <div class="bg-white rounded-lg p-8 shadow-lg">
    <div class="text-center mb-8">
      <h1 class="text-4xl font-bold mb-4">
        Bem-vindo ao Gerenciador de Pessoas
      </h1>
      <p class="text-lg mb-8">
        Este projeto permite gerenciar pessoas e seus endereços, incluindo
        operações de CRUD e integração com uma API de consulta de CEPs.
      </p>
    </div>
    <div class="flex space-x-4">
      <button
        class="w-full block px-4 py-2 text-white bg-blue-500 rounded hover:bg-blue-600 transition duration-150 ease-in-out transform hover:-translate-y-1"
      >
        <div class="flex items-center justify-center">
          <span class="mr-2">Register</span>
          <svg
            class="fill-current w-4 h-4"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
          >
            <path
              d="M17.414 2.586a2 2 0 00-2.828 0L7 9.586V8h1v-.586a1 1 0 00-.293-.707l-5.414-5.414a2 2 0 00-2.828 0 .707.707 0 000 1l5.414 5.414a2 2 0 01.707.293h1.293l.001 12.586a1 1 0 001.707.707l2.414-2.414a2 2 0 01.707-.293z"
            />
          </svg>
        </div>
      </button>
      <button
        class="w-full block px-4 py-2 text-white bg-green-500 rounded hover:bg-green-600 transition duration-150 ease-in-out transform hover:-translate-y-1"
      >
        <div class="flex items-center justify-center">
          <span class="mr-2">Login</span>
          <svg
            class="fill-current w-4 h-4"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
          >
            <path
              d="M17.414 7.414a2 2 0 00-2.828 0L7 17.071V16h1v-.929a1 1 0 00-.293-.707l-5.414-5.414a2 2 0 00-2.828 0 .707.707 0 000 1l5.414 5.414a2 2 0 01.707.293h1.293l.001-12.586z"
            />
          </svg>
        </div>
      </button>
    </div>
  </div>
</div>
